@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet");

*{
    overflow-x: hidden;
    text-align: center;
  }
header {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>.container>.top_head {
    margin-top: 40%;
    margin-bottom: 10px;
}
header>.container>.top_head img {
    padding: 10px;
    margin-bottom: 10px;
}
header>.container>.mouse {
    padding: 10px 10px 10px 10px;
}
.header h1{
    font-size: 50px;
    padding: 3px;
    margin: 20px;
    
}
#log{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mouse {
    padding-top: 50px;
    margin-top: 10%;
}
#mouse {
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-55px);
      }
      60% {
        transform: translateY(-45px);
      }
}
#about {
    justify-content: center;
    margin: 30px;
}
#about>.container.row>.paragraph {
    padding: 10px;
    margin-bottom: 20px;
}
#service {
    padding-top: 20px;
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.whatwedo h1{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
  
.whatimages{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
  
#designp,#devp, #productp{
    display: none;
    text-align: center;
}
  
#designp h1,#devp h1, #productp h1{
    font-weight: bold;
}

.portfolio h1{
    text-align: center;
    padding-bottom: 3%;
    padding-top:3%;
}
  
.portfolio img{
  width:100%;
  height: auto;
}
  
.imgoverlay1,.imgoverlay2, .imgoverlay3,.imgoverlay4,.imgoverlay5,.imgoverlay6,.imgoverlay7,.imgoverlay8{
    width:90%;
    color:white;
    height:97%;
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}
  
.port1{
    padding-top:3%;
}
  
img.w-100 {
    padding-bottom: 3%;
}
.overlaycontent,.overlaycontent1,.overlaycontent2,.overlaycontent3,.overlaycontent4,.overlaycontent5,.overlaycontent6,.overlaycontent7{
  
   width:90%;
   margin-top: 4%;
   margin-left: 5%;
   height: 90%;
   position: relative;
   border: 5px solid white;
}
  
.imgoverlay1 h1,.imgoverlay2 h1,.imgoverlay3 h1,.imgoverlay4 h1,.imgoverlay5 h1,.imgoverlay6 h1,.imgoverlay7 h1,.imgoverlay8 h1{
      padding-top: 3%;
      text-align: left;
      font-weight: 800px;
      font-size: 30px
}
   



