@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet");

*{
    overflow-x: hidden;
    text-align: center;
  }
header {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>.container>.top_head {
    margin-top: 40%;
    margin-bottom: 10px;
}
header>.container>.top_head img {
    padding: 10px;
    margin-bottom: 10px;
}
header>.container>.mouse {
    padding: 10px 10px 10px 10px;
}
.header h1{
    font-size: 50px;
    padding: 3px;
    margin: 20px;
    
}
#log{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mouse {
    padding-top: 50px;
    margin-top: 10%;
}
#mouse {
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-55px);
      }
      60% {
        transform: translateY(-45px);
      }
}
#about {
    justify-content: center;
    margin: 30px;
}
#about>.container.row>.paragraph {
    padding: 10px;
    margin-bottom: 20px;
}
#service {
    padding-top: 20px;
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



